# ─── Django ───────────────────────────────────
SECRET_KEY=my-secret-key-change-in-production
DEBUG=True
ALLOWED_HOSTS=*

# ─── PostgreSQL ───────────────────────────────
POSTGRES_DB=modeloscomputacion
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
